.catalog {
  $self: &;
  position: fixed;
  top: 0;
  z-index: 11;
  width: $catalog-width;
  height: 100vh;
  background-color: $white;
  transition: width 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);

  // transition:  0.05s linear;
  // &:hover {
  //   width: 50vw;

  //   #{ $self }__card {
  //     display: block;
  //   }

  //   #{ $self }__info {
  //     display: none;
  //   }
  // }

  &--reverse {
    background-color: $secondary-color;
    color: $white;
    a {
      color: $white;
    }
  }

  @include mobile() {
    display: none;
  }
}

.catalog.is-active {
  $self: &;
  width: 50vw;

  .catalog__card {
    display: block;
  }

  .catalog__info {
    // display: none;
    left: calc(50vw - #{$catalog-width});
  }
}

.catalog__info {
  position: absolute;
  height: 100%;
  width: $catalog-width;

  font-size: 2em;
  background-color: $primary-color;
  color: $white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  pointer-events: none;
  left: 0;

  span {
    // bottom: 3rem;
    padding: 3rem 1.36rem;
    // width: 100%;
    transform: rotate(-180deg);
    writing-mode: tb-rl;
  }

  &--reverse {
    color: $white;
  }

  &--horizontal {
    transform: none;
    writing-mode: unset;
    position: relative;
    font-size: 2em;
    bottom: unset;
    margin-top: 2.78rem;
    margin-bottom: 1.625rem;
    margin-left: $menu-offset-x;
  }

  &:hover {
    transition: 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    left: 10px;
  }
}

.catalogo__issueLogo {
  font-family: 'Brutal-Bold';
  color: $white;
}

.catalog__logoContainer {
  max-width: 132px;
  width: 132px;
  margin-bottom: 4.375rem;
}

.catalog__logo {
  width: 100%;

  &--small {
    width: 90px;
    height: auto;
  }
}

.catalog__card {
  display: none;
  position: absolute;
  height: 100%;
  width: 70%;
  // padding: 6.75rem $catalog-width 16.3rem 6.25rem;
  margin-left: 15%;
  margin-right: $catalog-width;
  padding-right: 15%;

  overflow-y: auto;

  &--show {
    display: block;
    position: relative;
    padding: 0;
    margin-left: $menu-offset-x;
    width: calc(100% - #{$menu-offset-x});
  }

  @include mobile() {
    margin-left: 0;
  }
}

.catalog__item {
  padding-top: 1.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $primary-color;

  // &:nth-child(1) {
  //   padding-top: 0;
  // }

  &:last-child {
    border-bottom: none;
  }

  &--reverse {
    border-bottom: 1px solid $white;
  }

  @include mobile() {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

.catalog__title {
  max-width: 387px;
  margin: 0;
  color: inherit;
  font-size: 14px;

  @include mobile() {
    font-size: 16px;
  }
}

.catalog__author {
  max-width: 387px;
  font-family: $secondary-font-family;
  color: $primary-color;
  font-size: 14px;

  @include mobile() {
    font-size: 16px;
  }
}

.catalog__closeButton {
  width: $catalog-width;
  height: $catalog-width;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  pointer-events: auto;
  flex-grow: 1;

  &.is-active {
    svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    // transform: rotate(180deg);
  }

  // &:focus {
  //   transform: rotate(180deg);
  // }

  transition: 0.1s linear;
}

.catalog__path {
  stroke: $white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 1;

  &--reverse {
    stroke: $white;
  }
}
