.catalog {
  $self: &;
  position: fixed;
  top: 0;
  z-index: 11;
  width: $catalog-width;
  height: 100vh;
  background-color: $white;
  transition: width 0.05s linear;

  &:hover {
    width: 50vw;

    #{ $self }__card {
      display: inherit;
    }

    #{ $self }__info {
      display: none;
    }
  }

  &--reverse {
    background-color: $secondary-color;
    color: $white;
    a {
      color: inherit;
    }
  }
}

.catalog__info {
  position: absolute;
  bottom: 3rem;
  transform: rotate(-180deg);
  writing-mode: tb-rl;
  font-size: 2em;
  color: $primary-color;
  &--reverse {
    color: $white;
  }
}

.catalog__logoContainer {
  max-width: 132px;
  width: 132px;
  margin-bottom: 4.375rem;
}

.catalog__logo {
  width: 100%;
}

.catalog__card {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 6.75rem $catalog-width 16.3rem 6.25rem;
  overflow-y: auto;
}

.catalog__item {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $primary-color;

  &:nth-child(2) {
    padding-top: 0;
  }

  &--reverse {
    border-bottom: 1px solid $white;
  }
}

.catalog__title {
  max-width: 387px;
  margin: 0;
}

.catalog__author {
  max-width: 387px;
}
