@import url(/Users/ericli/github/adjacent/issue-005/sass/vendors/normalize.css);
.white {
  fill: white;
}

.with-fixed-catalog {
  margin-left: 4.25rem;
}

@media screen and (max-width: 768px) {
  .with-fixed-catalog {
    margin-left: 0;
    padding: 1.75rem 30px 3rem 30px !important;
  }
}

.primary-font {
  font-family: "SuezOne-Regular", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.is-primary-button {
  color: red;
}

.is-primary-button a {
  border-radius: 0px;
  border: 1px solid !important;
  width: 100%;
  font-size: 1.8em;
}

/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: red;
  text-decoration: none;
}

.page-template-front-page {
  background-color: black;
}

.post-template-default {
  background-color: white;
}

.screen-reader-text {
  display: none;
}

@font-face {
  font-family: '80-kb-Grunge';
  src: url("./fonts/80-kb-Grunge.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '80-kb-Soft';
  src: url("./fonts/80-kb-Soft.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '80-kb-Regular';
  src: url("./fonts/80-kb-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuezOne-Regular';
  src: url("./fonts/SuezOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '80-kb-Sharp';
  src: url("./fonts/80-kb-Sharp.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/**
 * Basic typography style for copy text
 */
body {
  font: normal 62.5% "80-kb-Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SuezOne-Regular", sans-serif;
  color: red;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.4em;
  font-family: "80-kb-Regular", sans-serif;
}

h3 {
  font-size: 2.4em;
  line-height: 1.4em;
  text-transform: uppercase;
}

h4 {
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.8em;
}

p {
  font-size: 1.8em;
  color: black;
  line-height: 1.5em;
}

hr {
  border-bottom: 1px solid red !important;
  margin: 2.8rem auto !important;
}

figcaption {
  text-align: left !important;
}

blockquote p {
  color: red;
  font-family: "SuezOne-Regular", sans-serif;
}

.wp-block-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.wp-block-pullquote {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  margin: 3.6rem 0;
}

.c-NavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-NavBar__logoContainer {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid red;
}

@media screen and (max-width: 768px) {
  .c-NavBar__brand {
    width: 90px;
  }
}

.c-NavBar__brandLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: auto;
}

.c-NavBar__brandLogo--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: auto;
}

.c-NavBar__issueLogo {
  position: absolute;
  top: 100px;
  z-index: 10;
  width: calc(100% - 6rem - 4.25rem);
  pointer-events: none;
}

.c-NavBar__issueLogo--small {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .c-NavBar__issueLogo {
    width: 90px;
    top: 70px;
  }
}

.c-NavBar__issueLogoImage {
  max-width: 100%;
  height: auto;
}

.c-NavBar__dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .c-NavBar__dropDown {
    display: none;
  }
}

.c-NavBar__toggle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
}

@media screen and (max-width: 768px) {
  .c-NavBar__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.loader {
  -webkit-animation: zoomIn 1s ease-out;
          animation: zoomIn 1s ease-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 768px) {
  .loader {
    -webkit-animation: zoomInMobile 1s ease-out;
            animation: zoomInMobile 1s ease-out;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    width: calc(100% - 6rem - 4.25rem);
  }
  100% {
    width: 150px;
  }
}

@keyframes zoomIn {
  0% {
    width: calc(100% - 6rem - 4.25rem);
  }
  100% {
    width: 150px;
  }
}

@-webkit-keyframes zoomInMobile {
  0% {
    width: 100%;
  }
  100% {
    width: 90px;
  }
}

@keyframes zoomInMobile {
  0% {
    width: 100%;
  }
  100% {
    width: 90px;
  }
}

.c-DropDown {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;
  padding-left: 2rem;
  font-family: "SuezOne-Regular", sans-serif;
  font-size: 2em;
}

.c-DropDown:hover .c-DropDown__list {
  visibility: visible;
}

.c-DropDown__list {
  visibility: hidden;
}

.c-DropDown__item {
  margin: 0.5rem 0rem;
  display: block;
  font-family: "80-kb-Regular", sans-serif;
}

.c-DropDown__item:hover {
  text-decoration: line-through;
}

.c-ArticleCard {
  position: relative;
  width: 50%;
  padding: 2rem 4rem;
  margin: auto;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 0.2s -webkit-filter linear, -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: 0.2s -webkit-filter linear, -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: 0.2s filter linear, transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: 0.2s filter linear, transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, 0.2s -webkit-filter linear, -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.c-ArticleCard:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 10;
}

.c-ArticleCard:hover .c-ArticleCard__card {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .c-ArticleCard {
    width: 100%;
    padding: 2rem 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1088px) {
  .c-ArticleCard {
    width: 80%;
    padding: 2rem 1rem;
  }
}

.c-ArticleCard__card {
  position: absolute;
  top: 50%;
  padding-right: 40%;
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.c-ArticleCard__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SuezOne-Regular", sans-serif;
  font-size: 2.4em;
  text-decoration: none;
  color: red;
}

.c-ArticleCard__author {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "80-kb-Regular", sans-serif;
  font-size: 2.4em;
  text-decoration: none;
  color: red;
}

.c-ArticleCard__thumbnail {
  width: 100%;
  height: auto;
}

.c-ToggleMenu {
  color: red;
  border: none;
  background-color: transparent;
  z-index: 12;
}

.c-ToggleMenu:hover {
  border: 1px solid red;
}

.c-ToggleMenu__toggle {
  display: none;
}

.c-ToggleMenu__toggle:checked + .c-ToggleMenu__overlay {
  display: block;
}

.c-ToggleMenu__overlay {
  z-index: 11;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  display: none;
}

.c-ToggleMenu__logoContainer {
  margin-top: 3.5em;
  margin-left: 3.3em;
  max-width: 132px;
  width: 132px;
  padding-bottom: 4.375rem;
  border-bottom: 1px solid red;
}

.catalog {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 4.25rem;
  height: 100vh;
  background-color: white;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
}

.catalog:hover {
  width: 50vw;
}

.catalog:hover .catalog__card {
  display: block;
}

.catalog:hover .catalog__info {
  display: none;
}

.catalog--reverse {
  background-color: black;
  color: white;
}

.catalog--reverse a {
  color: white;
}

@media screen and (max-width: 768px) {
  .catalog {
    display: none;
  }
}

.catalog__info {
  position: absolute;
  bottom: 3rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  font-size: 2em;
  color: red;
}

.catalog__info--reverse {
  color: white;
}

.catalog__logoContainer {
  max-width: 132px;
  width: 132px;
  margin-bottom: 4.375rem;
}

.catalog__logo {
  width: 100%;
}

.catalog__card {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 6.75rem 4.25rem 16.3rem 6.25rem;
  overflow-y: auto;
}

.catalog__item {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid red;
}

.catalog__item:nth-child(2) {
  padding-top: 0;
}

.catalog__item--reverse {
  border-bottom: 1px solid white;
}

.catalog__title {
  max-width: 387px;
  margin: 0;
  color: inherit;
}

.catalog__author {
  max-width: 387px;
  font-family: "80-kb-Regular", sans-serif;
  color: inherit;
}

.header {
  padding: 1.75rem 3.5rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1.75rem 3.5rem;
}

.wrapper {
  padding: 6rem 25%;
}

.content {
  padding: 1.75rem 3.5rem;
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}

.footer {
  padding: 1.75rem 3.5rem;
}

.footer__info p {
  font-size: 1.5em;
  margin: 0;
  color: red;
}

.footer__siteMapList {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.footer__link {
  padding-right: 1rem;
  font-size: 1.5em;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */