// -----------------------------------------------------------------------------
// Kind of a reset, both HTML and Wordpress
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-template-front-page {
  background-color: $secondary-color;
}

.post-template-default {
  background-color: $white;
}

.screen-reader-text {
  display: none;
}
