// -----------------------------------------------------------------------------
// Kind of a reset, both HTML and Wordpress
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-template-page-issue5 {
  background-color: $secondary-color;
}

.post-template-default {
  background-color: $white;
}

.screen-reader-text {
  display: none;
}

.skip {
  position: absolute;
  z-index: 12;
  padding: 0.5rem;
  font-size: 2em;
  color: $white;
  background-color: $primary-color;
  top: -1000px;

  &:focus {
    top: 0;
    left: 0;
  }
}
