// -----------------------------------------------------------------------------
// Kind of a reset, both HTML and Wordpress
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-template-page-issue5 {
  background-color: $secondary-color;
}

.post-template-default {
  background-color: $white;
}

.wp-block-cover {
  margin-bottom: 4rem;
}

.screen-reader-text {
  display: none;
}

.skip {
  position: absolute;
  z-index: 12;
  padding: 0.5rem;
  font-size: 2em;
  color: $white;
  background-color: $primary-color;
  top: -1000px;

  &:focus {
    top: 0;
    left: 0;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */

    @include mobile(){
      width: 0;
    }
}

::-webkit-scrollbar-track {
  // background: transparent;
}

// /* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  @include mobile(){
    background: transparent;
  }


    background: #ff0000;

}
