// -----------------------------------------------------------------------------
// @font-face declarations
// -----------------------------------------------------------------------------

@font-face {
  font-family: '80-kb-Regular';
  src: url('./fonts/80-kb-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuezOne-Regular';
  src: url('./fonts/SuezOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brutal-Bold';
  src: url('./fonts/Brutal-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}