// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin text($size: null, $family: null, $weight: null) {
  @if $size != null {
    font-size: $size;
  }

  @if $family != null {
    font-family: $family;
  }

  @if $weight != null {
    font-weight: $weight;
  }
}

/// Responsiveness

// @mixin mobile(){
//   @media screen and (max-width:)
// }
