// -----------------------------------------------------------------------------
// This file contains all application-wide Sass initial variables.
// -----------------------------------------------------------------------------

/// Font family
$primary-font-family: $theme-primary-font;
$secondary-font-family: $theme-secondary-font;
$code-font-family: $theme-code-font;

/// Color
$primary-color: $theme-primary-color !default;
$secondary-color: $theme-secondary-color !default;
$white: hsl(0, 0%, 100%);

/// Sidebar(catalog)
$catalog-width: 4.25rem;

/// Layout
$header-padding-x: 3.5rem;
$header-padding-y: 1.75rem;

/// Main section(wrapper)
$wrapper-width: calc(100% - 6rem - #{$catalog-width});

$article-padding: 5rem;

/// Responsiveness
$gap: 64px;

$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;
