.c-ArticleCard {
  $self: &;
  position: relative;
  width: 50%;
  padding: 2rem 4rem;
  margin: auto;
  filter: blur(5px);
  transition: 0.2s filter linear,
    transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

  &:hover {
    filter: none;
    transform: scale(1.05);
    z-index: 10;
  }

  &:active {
    filter: none;
    transform: scale(1.05);
    z-index: 10;
  }

  @media (hover: none) {
    filter: blur(5px);
  }

  &:hover & {
    &__card {
      opacity: 1;
    }
  }

  &:focus-within {
    filter: none;
    transform: scale(1.05);
    z-index: 10;

    #{ $self }__card {
      opacity: 1;
    }
  }

  @include mobile() {
    width: 90%;
    padding: 2rem 0;
    filter: none;

    #{ $self }__card {
      opacity: 1;
    }
  }

  @include tablet() {
    width: 50%;
    padding: 2rem 1rem;
  }

  @include widescreen() {
    width: 33.33%;
    padding: 2rem 1rem;
  }
}

.c-ArticleCard__card {
  position: absolute;
  top: 50%;
  padding-right: 40%;
  opacity: 0;
  transition: opacity 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s,
    -webkit-transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

  @include mobile() {
    padding-right: 10%;
  }

  // @include tablet() {
  //   padding-right: 10%;
  // }
}

.c-ArticleCard__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $primary-font-family;
  font-size: $heading-3-size;
  text-decoration: none;
  color: $primary-color;

  @include mobile() {
    font-size: 16px;
  }

  @include tablet() {
    font-size: 16px;
  }
}

.c-ArticleCard__author {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $secondary-font-family;
  font-size: $heading-4-size;
  text-decoration: none;
  color: $primary-color;

  @include mobile() {
    font-size: 16px;
  }

  @include tablet() {
    font-size: 16px;
  }
}

.c-ArticleCard__thumbnail {
  width: 100%;
  height: auto;
}
