.c-DropDown {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;
  padding-left: 2rem;

  font-family: $primary-font-family;
  font-size: 2em;

  &:hover & {
    &__list {
      visibility: visible;
    }
  }
}

.c-DropDown__list {
  visibility: hidden;
}

.c-DropDown__item {
  margin: 0.5rem 0rem;
  display: block;
  font-family: $secondary-font-family;

  &:hover {
    text-decoration: line-through;
  }
}
