.c-dropdown {
  min-width: 150px;
  padding: 0.5rem 1rem;
  font-family: $primary-font-family;
  font-size: 2em;
  &:hover {
    .c-dropdown__list {
      opacity: 1;
    }
  }
}

.c-dropdown__list {
  width: 100%;
  opacity: 0;
}

.c-dropdown__item {
  margin: 0.5rem 0rem;
  display: block;
  width: 100%;
  font-family: $secondary-font-family;

  &:hover {
    text-decoration: line-through;
  }
}
