.c-DropDown {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;
  padding-left: 2rem;
  z-index: 1;
  font-family: $primary-font-family;
  font-size: 2em;

  &:hover & {
    &__list {
      visibility: visible;
    }
  }
}

.c-DropDown__info {
  margin: 0;
  background: transparent;
  border: none;
  color: $primary-color;
  font-size: inherit;
}


.c-DropDown__list {
  visibility: hidden;
}

.c-DropDown.is-active {
  .c-DropDown__list {
    visibility: visible;
  }
}

.c-DropDown__item {
  margin: 0.5rem 0rem;
  padding-left: 7px;
  padding-right: 7px;
  display: block;
  font-family: $secondary-font-family;

  &:hover {
    text-decoration:underline;
  }
}
