.c-NavBar {
  display: flex;
  position: absolute;
  margin-left: $catalog-width;
  left: $container-padding-x;
  right: $container-padding-x;

  @include mobile() {
    margin-left: 0;
    left: 30px;
    right: 30px;
  }
}

.c-NavBar__logoContainer {
  padding-bottom: 0.5rem;
}

.c-NavBar__brand {
  @include mobile() {
    width: 90px;
  }
}

.c-NavBar__brandLogo {
  display: flex;
  max-width: 100%;
  height: auto;

  &--small {
    display: flex;
    max-width: 100%;
    height: auto;
  }
}

.c-NavBar__issueLogo {
  position: fixed;
  top: 0;
  left: calc(#{$catalog-width} + 3rem);
  z-index: 10;
  width: $wrapper-width;
  pointer-events: none;

  &--small {
    width: 150px;
    display: none;
  }

  @include mobile() {
    width: 100vw;
    left: 0;
    top: 30px;
  }
}

.c-NavBar__issueLogoImage {
  max-width: 100%;
  height: auto;
  @include mobile() {
    // width: 90px;
  }
}

.c-NavBar__dropDown {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  @include mobile() {
    display: none;
  }
}

.c-NavBar__toggle {
  flex-grow: 1;
  justify-content: flex-end;
  display: none;
  @include mobile() {
    display: flex;
  }
}

/// For On Load animation
.loader {
  animation: disappear 1.5s ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;

  @include mobile() {
    animation: disappear 1.5s ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes zoomIn {
  0% {
    width: $wrapper-width;
  }
  100% {
    width: 150px;
  }
}

@keyframes zoomInMobile {
  0% {
    width: 100%;
  }
  100% {
    width: 90px;
  }
}
