.c-ToggleMenu {
  position: fixed;
  z-index: 12;
  background-color: transparent;
  color: $primary-color;
  border: none;
  border-radius: 3px;
  padding: 3px 3px 1px 3px;
  transform: translateY(-5px);

  &--reverse {
    color: $white;
    background-color: $primary-color;
  }
}

.c-ToggleMenu__info {
  height: 50vh;
  background-color: $primary-color;
  padding: 1.2rem $menu-offset-x;
  font-size: 26px;
  color: $white;
}

.c-ToggleMenu__logoContainer {
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;

  span {
    flex-grow: 0.1;
  }
}

.c-ToggleMenu__logo {
  width: 40%;
  max-width: 150px;
  img {
    width: 100%;
    max-width: 100%;
  }
}

.c-ToggleMenu__divider {
  flex-grow: 0.3;
  text-align: center;
}

.c-ToggleMenu__description {
  font-size: 12px;
  color: $white;
}

.c-ToggleMenu__toggle {
  display: none;
  &:checked + .c-ToggleMenu__overlay {
    top: 0;
  }
}

.c-ToggleMenu__overlay {
  position: fixed;
  z-index: 11;
  top: -100vh;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: $white;
  transition: 0.2s ease;
  &:focus-within {
    top: 0;
  }
}

.c-ToggleMenu__dropDown {
  padding-top: 0;
  padding-bottom: 3rem;
  padding-left: 0;
  color: $primary-color;
}
